html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

p, h1, h2 {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.uvod h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    margin-top: 200px;
}
.uvod h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    margin-top: -20px;
}

.nav {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    gap: 45px;
    background: #7793ed;
    background: linear-gradient(180deg, rgba(119, 147, 237, 1) 39%, rgba(0, 174, 255, 1) 100%);
}

.uvod .uvod_img{
    margin-top: -100;
    width: 100%;
    height:auto;
    position: absolute;
    z-index: -5;
    filter: brightness(0.8);
}

.uvod #rectangle{
    width: 100%;
    margin-top: 380px;
    height: 60px;
    background: #7793ed;
    background: linear-gradient(0deg, rgba(119, 147, 237, 1) 39%, rgba(0, 174, 255, 1) 100%);
}

.nav a{
    font-family: sans-serif;
    color: white;
    margin-top: 40px;
    font-size: 30px;
    transition: 0.1s;
    text-shadow: 1px 1px 1px #000000;
}

.nav a:hover{
    font-size:35px;
}

.logo {
    width: 100px;
    height: 100px;
    left: 500px;
    transform: scale(0.9)
}