html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    font-family: "Open Sans"
}

h1, h2, p {
    margin: 0;
}

.land {
    position: relative;
    height: 900px;
    color: white;
    text-align: center;
    overflow: hidden;
}

.land_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.50);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    gap: 45px;
    width: 100%;
    height: 90px;
    background-color: aliceblue;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    top: 0;
    left: 0;
}

.logo {
    height: 70px;
    width: auto;
    transform: scale(0.95);
    margin-right: 30px;
}

.nav a {
    position: relative;
    font-size: 24px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.2s;
}

/* ChatGPT dopomohlo, bo ja nevim jak se exkludujou typy elementu */
.nav a:not(:has(img))::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #7b4f44;
    transition: width 0.3s, height 0.3s, left 0.3s, top 0.3s;
    z-index: -1;
    border-radius: 20px;
}

.nav a:not(:has(img)):hover {
    color: #DDB5A0;
}

.nav a:not(:has(img)):hover::after {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    left: calc(50% - ((100% + 20px) / 2));
    top: calc(50% - ((100% + 20px) / 2));
}

section {
    padding: 50px 30px 40px 30px; /* hore, pravo, dole, levo */ 
}

section h1 {
    font-size: 48px;
    text-align: center;
}

section h2 {
    text-align: center;
}

section h2, section p {
    margin: 0 auto;
    
}


section p {
    font-size: 20px;
    max-width: 50%;
}

footer {
  width: 980px;
  margin: 18px auto;
  padding: 12px;
  text-align: center;
  color: #666;
  font-family: sans-serif; font-size: 14px;
}