html {
    scroll-behavior: smooth;
    background-color: #FFFAFA;

}

body {
    margin: 0;
    font-family: "Open Sans";
}

h1, h2, p {
    margin: 0;
}

.land {
    position: relative;
    height: 900px;
    color: white;
    text-align: center;
    overflow: hidden;
}

.land_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.50);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    gap: 45px;
    width: 100%;
    height: 90px;
    background-color: aliceblue;
    box-shadow: 0 2px 6px rgba(0,0,0,0.25);
    top: 0;
    left: 0;
}

.logo {
    height: 70px;
    width: auto;
    transform: scale(0.95);
    margin-right: 30px;
}

.nav a {
    position: relative;
    font-size: 24px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.nav a:not(:has(img))::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: #7b4f44;
    transition: 0.3s;
    z-index: -1;
    border-radius: 20px;
}

.nav a:not(:has(img)):hover {
    color: #DDB5A0;
}

.nav a:not(:has(img)):hover::after {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    left: calc(50% - ((100% + 20px) / 2));
    top: calc(50% - ((100% + 20px) / 2));
}

section {
    padding: 50px 30px;
}

.cenik {
    text-align: center;
    padding: 50px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 900px;
    background-color: #ddd6d6;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid;
}

th, td {
    padding: 20px;
    border: 1px solid #666464;
}

th {
    background-color: #d3906b;  
    color: white;
    font-size: 1.2em;
}

td {
    font-size: 1em;
}

.price {
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
}

.flex_section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 80%;
    margin: 0 auto;
}

footer {
    width: 980px;
    margin: 18px auto;
    padding: 12px;
    text-align: center;
    color: #666;
    font-family: sans-serif;
    font-size: 14px;
}

.objbutton {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    font-size: 19px;
    cursor: pointer;
    color: #ffffff;
}

.txt_block {
    max-width: 40%;
}

.txt_img {
    max-width: 30%;
    transition: transform 0.3s;
}

.txt_img:hover{
    transform: scale(1.1);
}

